.dice__container {
  transition: all .25s cubic-bezier(.25,.8,.25,1);
  opacity: 1;
}

.dice-counter__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hide {
  opacity: 0;
  height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 940px) {
  .dice-counter__container {
    flex-direction: column;
  }
}