.grid {
  border: 1px solid #ccc;
  border-width: 2px 0 0 2px;
  width: 294px;
  display: inline-block;
}
.cell {
  border: 1px solid #ccc;
  border-width: 0 2px 2px 0;
  width: 40px;
  height: 40px;
  display: inline-block;
  font-size: 0.75em;
  text-align: left;
  vertical-align: top;
  color: rgba(63, 63, 63, 0.7);
}

.cell-item {
  background: #cdcdcd;
  cursor: pointer;
}

.cell-portal {
  background: #9698ce;
}

.cell-portal-open {
  background: #66abff;
  cursor: pointer;
}
.row {
  height: 42px;
}

.collision-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.collision-list__container {
  width: 290px;
  height: 294px;
  margin: 0;
  margin-left: 10px;
  overflow: scroll;
  list-style: none;
  padding: 0;
  background: rgba(250, 250, 250, 1);
}

.collision-message {
  padding: 5px 10px;
  padding-bottom: 0;
  margin: 0;
  background: white;
  width: 270px;
  animation: fadein 1s;  
}

.collision-message::after {
  border-bottom: 1px solid rgba(0, 0, 0, 0.18);
  width: 270px;
  content: "";
  margin-top: 5px;
  display: block;
}

.collision-legend__content {
  width: 290px;
  height: 294px;
  margin: 0;
  margin-right: 10px;
  padding: 0;
  background: rgba(250, 250, 250, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dimensional__heading {
  font-size: 2em;
  font-weight: 100;
}

.collision-legend__item {
  font-size: 1em;
  font-weight: 100;
  margin: 10px 0;
}

.collision-legend__key {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 5px;
  cursor: initial;
}

@media screen and (max-width: 940px) {
  .collision-content {
    flex-direction: column;
  }
}